CLOUDINARY_CLOUD_NAME=omg
CLOUDINARY_KEY=lol
CLOUDINARY_SECRET=yarite
COOKIE_SECRET="PLEASE CHANGE ME OH PLEASE CHANGE ME"
DATABASE_URL=mongodb://localhost:27017/sick-fits-keystone
FRONTEND_URL="http://localhost:7777"